In [198]:
import pandas as pd

df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [199]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace = True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [200]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [201]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [202]:
# from sklearn.preprocessing import LabelEncoder
# le_sex = LabelEncoder()
# inputs['Sex_n'] = le_sex.fit_transform(inputs['Sex'])
# inputs

In [203]:
# inputs_n = inputs.drop('Sex',axis='columns')
# inputs_n

In [204]:
dummies = pd.get_dummies(inputs.Sex)
dummies = dummies.astype(int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [205]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [206]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [207]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [208]:
inputs.Age[1:10]

1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [209]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Age[1:10]

1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [210]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)
len(X_train)

712

In [211]:
len(X_test)

179

In [212]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

model.fit(X_train,y_train)

GaussianNB()

In [213]:
model.score(X_test,y_test)

0.8100558659217877

In [214]:
X_test[1:10]

     Pclass        Age     Fare  female  male
503       3  37.000000   9.5875       1     0
615       2  24.000000  65.0000       1     0
166       1  29.699118  55.0000       1     0
652       3  21.000000   8.4333       0     1
375       1  29.699118  82.1708       1     0
543       2  32.000000  26.0000       0     1
470       3  29.699118   7.2500       0     1
747       2  30.000000  13.0000       1     0
67        3  19.000000   8.1583       0     1

In [215]:
y_test[:10]

156    1
503    0
615    1
166    1
652    0
375    1
543    1
470    0
747    1
67     0
Name: Survived, dtype: int64

In [216]:
model.predict(X_test[:10])

array([1, 1, 1, 1, 0, 1, 0, 0, 1, 0], dtype=int64)